*, *::after, *::before {
    box-sizing: border-box;
    overflow: hidden;
    user-select: none;
}

body {
    width: 100vw;
    height: 100vh;
    background: linear-gradient(180deg, #faffe7, #fbf4d2);
    display: flex;
    flex-direction: column;
    justify-content: center;
}

#restart-btn {
    margin: 0 auto;
    border: 1 solid black;
    font-size: 2em;
}

#container {
    align-self: center;
    max-height: 90vh;
    margin: 30px;
    margin-right: 40px;
    aspect-ratio: 10 / 13;
    display: grid;
    grid-template: repeat(10, 1fr) / repeat(9, 1fr);
    place-items: center center;
}

.chess-board {
    height: 92%;
    width: 92%;
    z-index: -1;
    grid-area: 1 / 1 / 11 / 10;
}

.chess-piece {
    width: 90%;
    height: 90%;
}

.selected {
    border: 1px solid black;
    border-radius: 5px;
}

#turn-display {
    grid-area: 5 / 2 / 6 / 9;
    z-index: 0;
    color: red;
    align-self: end;
    transform: translateY(50%);
    font-size: 5vmin;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight: bold;

}
