*, *::after, *::before {
    box-sizing: border-box;
    overflow: hidden;
    user-select: none;
}

body {
    width: 100vw;
    height: 100vh;
    background: linear-gradient(180deg, #faffe7, #fbf4d2);
}

#container {
    width: 488px;
    height: 600px;
    margin: 30px auto;
    display: grid;
    grid-template: repeat(10, 1fr) / repeat(9, 1fr);
    place-items: center center;
}

.chess-board {
    height: 92%;
    width: 92%;
    z-index: -1;
    grid-area: 1 / 1 / 11 / 10;
}

.chess-piece {
    width: 90%;
    height: 90%;
}

.selected {
    border: 1px solid black;
    border-radius: 5px;
}

#turn-display {
    position: absolute;
    top: 5px;
    right: 5px;
}
